@use '../abstracts/variables' as variables;
@use '../components/button' as button;

header {
    background-color: variables.$c-header-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$pad-header variables.$pad-header+10px variables.$pad-header variables.$pad-header+10px;
    border-bottom: 2px solid variables.$c-header-line;
    position: fixed;
    z-index: 10;
    width: 100%;

    a {
        p {
            color: variables.$c-header;
            font-size: variables.$fs-mobile-header;

            span.text-highlight {
                &:first-of-type {
                    margin-right: 10px;
                }
            }
        }
    }

    // < UL Desktop >
    ul.ul-desktop {
        display: none;
        gap: 40px;

        a {
            li {
                color: variables.$c-paragraph;
                transition: 0.3s ease;

                &:hover {
                    color: variables.$c-text-highlight;
                }
            }
        }
    }

    a.contact-button {
        display: none;

        button {
            @include button.button;
        }
    }

    // </ UL Desktop >

    p,
    img.menu-icon {
        cursor: pointer;
    }

    img.menu-icon {
        display: block;
        aspect-ratio: 1 / 1;
        width: 30px;
        transform: scale(1) rotate(90deg);
        transition: 0.5s ease;

        &:active {
            transform: scale(0.9) rotate(90deg);
        }
    }

    img.menu-icon.opened {
        transform: rotate(0deg) scale(1);

        &:active {
            transform: scale(0.9) rotate(0deg);
        }
    }
}

ul.ul-mobile {
    width: 100%;
    background-color: variables.$c-mobile-aside-background;
    padding: 20px 25px 20px 25px;
    z-index: -1;
    transition: 0.5s ease;

    a {

        li {
            color: variables.$c-paragraph;
            border-bottom: 1px solid transparent;
            padding: 12px 10px 8px 10px;
            transition: 0.2s ease;
        }

        &:hover {
            li {
                color: variables.$c-title;
                border-bottom: 1px solid variables.$c-border;
            }
        }

    }
}

ul.ul-mobile.closed {
    transform: translateY(-310px);
}

/* =========================== DESKTOP RESPONSIVITY =========================== */
@media (min-width: 1200px) {
    header {
        padding: variables.$pad-header+5 variables.$pad-header+30px variables.$pad-header+5 variables.$pad-header+30px;

        // < UL Desktop >
        ul.ul-desktop {
            display: flex;
        }

        a.contact-button {
            display: block;

            img {
                width: 20px;
            }
        }

        img.menu-icon {
            display: none;
        }
    }
}