/* ANIMATIONS */

@mixin floating ($time: 1s, $distance: -5px){

    animation: floating $time ease infinite;

    @keyframes floating {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY($distance) rotate(2deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }
}