/* ANIMATIONS */

@mixin floating ($time: 1s, $distance: -5px) {

    animation: floating $time ease infinite;

    @keyframes floating {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY($distance) rotate(2deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }
}

@mixin floating-2 ($time: 1s, $distance: -5px) {

    animation: floating-2 $time linear infinite;

    @keyframes floating-2 {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY($distance);
        }

        100% {
            transform: translateY(0px);
        }
    }
}
    // All directions + fade in

        // FROM RIGHT
        @mixin pgl-from-right($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateX($distance);
                }

                to{
                    transform: translateX(0px);
                }
            }
        }

        // FROM RIGHT IN
        @mixin pgl-from-right-in($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateX($distance);
                    opacity: 0;
                }

                to{
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }

        // FROM LEFT
        @mixin pgl-from-left($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateX(-$distance);
                }

                to{
                    transform: translateX(0px);
                }
            }
        }

        // FROM LEFT IN
        @mixin pgl-from-left-in($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateX(-$distance);
                    opacity: 0;
                }

                to{
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }

        // FROM TOP
        @mixin pgl-from-top ($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateY(-$distance);
                }

                to{
                    transform: translateY(0px);
                }
            }
        }

        // FROM TOP IN
        @mixin pgl-from-top-in($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateY(-$distance);
                    opacity: 0;
                }

                to{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        // FROM BOTTOM
        @mixin pgl-from-bottom ($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateY($distance);
                }

                to{
                    transform: translateY(0px);
                }
            }
        }

        // FROM BOTTOM IN
        @mixin pgl-from-bottom-in($name, $time: 1s, $distance: 50px, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from {
                    transform: translateY($distance);
                    opacity: 0;
                }

                to{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

    //Rotate animations

        //FLIP Y
        @mixin pgl-flip-y($name, $time: 1s, $deg: 360deg, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: rotateY($deg);
                }
                to{
                    transform: rotateY(0);
                }
            }
        }

        //FLIP Y IN
        @mixin pgl-flip-y-in($name, $time: 1s, $deg: 360deg, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: rotateY($deg);
                    opacity: 0;
                }
                to{
                    transform: rotateY(0);
                    opacity: 1;
                }
            }
        }

        //FLIP X
        @mixin pgl-flip-x($name, $time: 1s, $deg: 360deg, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: rotateX($deg);
                }
                to{
                    transform: rotateX(0);
                }
            }
        }

        //FLIP X IN
        @mixin pgl-flip-x-in($name, $time: 1s, $deg: 360deg, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: rotateX($deg);
                    opacity: 0;
                }
                to{
                    transform: rotateX(0);
                    opacity: 1;
                }
            }
        }

    //Scale animations

        //Scale
        @mixin pgl-scale($name, $time: 1s, $scale: 1.5, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: scale($scale);
                }
                to{
                    transform: scale(1);
                }
            }
        }

        //Scale in
        @mixin pgl-scale-in($name, $time: 1s, $scale: 1.5, $delay: 0s){
            animation: #{$name} $time ease $delay forwards;

            @keyframes #{$name} {
                from{
                    transform: scale($scale);
                    opacity: 0;
                }
                to{
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }