@use '../abstracts/variables' as var;
@use '../base/typography' as font;
@use '../components/badge' as badge;
@use '../components/button' as btn;

section.cta{
    background-color: var.$c-section-background-3;
    padding: 
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section;
    
    div.section-title-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var.$gap-mobile-container;
        margin-bottom: 40px;
        text-align: center;

        p.section-badge{
            @include badge.badge-mobile();
        }
        h2.section-title{
            font-size: var.$fs-mobile-title;
            color: var.$c-title;
        }
        p.section-paragraph{
            font-size: var.$fs-mobile-paragraph;
            color: var.$c-paragraph;
        }
    }

    a.contact-button{
        @include btn.button();
        @include font.font-1();
        font-weight: 800;
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 500px;
        font-size: var.$fs-mobile-paragraph;

        img{
            width: 25px;
        }
    }
}

@media (min-width: 1200px){
    section.cta{
        padding: 
            var.$pad-desktop-topbottom-section
            var.$pad-desktop-leftright-section
            var.$pad-desktop-topbottom-section
            var.$pad-desktop-leftright-section;
        
        div.section-title-container{
            gap: var.$gap-desktop-container;
            margin-bottom: 80px;
    
            p.section-badge{
                @include badge.badge-desktop();
            }
            h2.section-title{
                font-size: var.$fs-desktop-title;
            }
            p.section-paragraph{
                font-size: var.$fs-desktop-paragraph;
            }
        }
    
        a.contact-button{
            gap: 20px;
            font-size: var.$fs-desktop-paragraph;
    
            img{
                width: 30px;
            }
        }
    }
}