@use '../abstracts/variables' as var;
@use '../base/typography' as font;
@use '../components/badge' as badge;

section.faq{
    min-height: 100vh;
    background-color: var.$c-section-background-2;
    border-top: 2px solid var.$c-border;
    border-bottom: 2px solid var.$c-border;
    padding: 
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section;

    div.section-title-container{
        display: flex;
        flex-direction: column;
        gap: var.$gap-mobile-container;
        margin-bottom: 40px;

        p.section-badge{
            @include badge.badge-mobile();
        }
        h2.section-title{
            font-size: var.$fs-mobile-title;
            color: var.$c-title;
        }
    }

    div.questions-container{
        display: flex;
        flex-direction: column;
        gap: 30px;

        div.question{
            border-bottom: 1px solid var.$c-highlight-border;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 0px;
            cursor: pointer;
            max-height: 80px;
            width: 100%;
            transition: 0.3s ease;
            
            div.question-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-size: var.$fs-mobile-paragraph;
                    color: var.$c-title;
                }
                img{
                    width: 25px;
                    height: 25px;
                    transform: rotate(0deg);
                    transition: 0.3s ease;
                }
            }
            p{
                overflow: hidden;
                max-height: 0px;
                font-size: var.$fs-mobile-paragraph - 5;
                color: var.$c-paragraph;
                transition: 0.3s ease;
            }

            &:hover{
                transform: scale(1.01);
                border-bottom: 1px solid white;
            }
            &:active{
                transform: scale(0.99);
            }
        }
        div.question.opened{
            gap: 24px;
            max-height: 500px;
            
            div.question-title{
                img{
                    transform: rotate(90deg);
                }
            }

            p{
                max-height: 100px;
            }
        }
    }
}

@media (min-width: 1200px){

    section.faq{
        padding: 
            var.$pad-desktop-topbottom-section
            var.$pad-desktop-leftright-section
            var.$pad-desktop-topbottom-section
            var.$pad-desktop-leftright-section;

        div.section-title-container{
            gap: var.$gap-desktop-container;
            margin-bottom: 80px;

            p.section-badge{
                @include badge.badge-desktop();
            }
            h2.section-title{
                font-size: var.$fs-desktop-title;
            }
            p.section-paragraph{
                font-size: var.$fs-desktop-paragraph;
            }
        }

        div.questions-container{

            div.question{
                
                div.question-title{
                    h3{
                        font-size: var.$fs-desktop-paragraph + 5;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
                p{
                    font-size: var.$fs-desktop-paragraph;
                }
            }
        }
    }
}