@use '../abstracts/variables' as var;
@use '../base/typography' as font;

section.hero {
    background: var.$c-header-background;
    padding: 
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    //Div hero content - Para separar o conteúdo do p5js no fundo
    div.hero-content {
        display: flex;
        flex-direction: column;

        //Section title container - container dos títulos das sections
        div.section-title-container{

            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 40px;

            p.section-badge{
                @include font.font-2(800);
                font-size: var.$fs-mobile-badge;
                color: var.$c-badge-text;
                background-color: var.$c-badge-background;
                padding: 
                    var.$pad-mobile-badge 
                    var.$pad-mobile-badge + 10 
                    var.$pad-mobile-badge 
                    var.$pad-mobile-badge + 10;
                width: fit-content;
                border-radius: 50px;
            }
            h1.section-title{
                font-size: var.$fs-mobile-title;
                color: var.$c-title;
            }
            p.section-paragraph{
                color: var.$c-paragraph;
                font-size: var.$fs-mobile-paragraph;
                line-height: 25px;
            }
        }

        //Container dos botões da hero
        div.buttons-container{

            display: flex;
            justify-content: space-between;

            //Ambos os botões
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                @include font.font-1();
                color: var.$c-button-text;
            }

            //Botão 1
            a.button-contact{
                img{
                    width: 20px;
                }
            }

            //Botão 2
            a.button-portfolio{

            }
        }

        //Container no final da hero - status
        div.stats-container{

            //Estrelas da hero
            div.stars-container{
                img{
                    width: 30px;
                }
            }

            //Mensagem abaixo das estrelas
            p{

            }
        }
    }
}