@use '../abstracts/variables' as var;
@use '../base/typography' as font;
@use '../components/index' as comp;
@use '../abstracts/mixins' as mix;

section.hero {
    background: var.$c-header-background;
    padding: 
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section
        var.$pad-mobile-topbottom-section
        var.$pad-mobile-leftright-section;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Div hero content - Para separar o conteúdo do p5js no fundo
    div.hero-content {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        
        div.content-info {

            display: flex;
            flex-direction: column;

            //Section title container - container dos títulos das sections
            div.section-title-container{

                display: flex;
                flex-direction: column;
                gap: var.$gap-mobile-container;
                margin-bottom: 40px;

                p.section-badge{
                    @include comp.badge-mobile();
                    @include mix.pgl-from-top-in(badge-animation, 1s, 30px)
                }
                h1.section-title{
                    font-size: var.$fs-mobile-title;
                    color: var.$c-title;
                    @include mix.pgl-scale-in(title-animation, 1s, 1.2);
                }
                p.section-paragraph{
                    color: var.$c-paragraph;
                    font-size: var.$fs-mobile-paragraph;
                    line-height: 25px;
                    @include mix.pgl-from-bottom-in(paragraph-animation, 1s, 30px);
                }
            }

            //Container dos botões da hero
            div.buttons-container{
                @include mix.pgl-scale-in(buttons-container-animation, 1s, 0.8);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: var.$gap-mobile-container;
                margin-bottom: 40px;

                //Ambos os botões
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    @include font.font-1();
                    color: var.$c-button-text;
                    font-size: var.$fs-mobile-button;
                }

                //Botão 1
                a.button-contact{
                    @include comp.button();
                    img{
                        width: 20px;
                        font-size: var.$fs-mobile-button;
                    }
                }

                //Botão 2
                a.button-portfolio{
                    transition: 0.3s ease;
                    img{
                        width: 20px;
                        opacity: 0;
                        transform: translateX(-5px);
                        transition: 0.3s ease;
                    }

                    &:hover{
                        transform: scale(1.05);
                        img{
                            transform: translateX(0px);
                            opacity: 1;
                        }
                    }
                }
            }

            //Container no final da hero - status
            div.stats-container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-bottom: 40px;

                //Estrelas da hero
                div.stars-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 25px;
                        @include mix.pgl-flip-y-in(stars-animation, 1s, 360deg);
                        transition: 0.3s ease;

                        &:hover{
                            transform: rotateY(180deg);
                        }
                    }
                }

                //Mensagem abaixo das estrelas
                p{
                    font-size: var.$fs-mobile-paragraph;
                    color: var.$c-paragraph;
                    @include mix.pgl-from-right-in(stats-paragraph-animation, 1s, 50px);

                }
            }
        }
        img.computer{
            width: 90%;
            max-width: 500px;
            @include mix.pgl-flip-y-in(computer-animation, 1s, 30deg);
            @include mix.floating(5s, 15px);
        }
    }
}

/* =========================== DESKTOP RESPONSIVITY =========================== */

@media (min-width: 1200px){
    section.hero {
        padding: 
            100px
            var.$pad-desktop-leftright-section
            0
            var.$pad-desktop-leftright-section;
        //Div hero content - Para separar o conteúdo do p5js no fundo
        div.hero-content {
            grid-template-columns: repeat(2, 1fr);
            
            div.content-info {

                //Section title container - container dos títulos das sections
                div.section-title-container{
                    
                    gap: var.$gap-desktop-container;

                    p.section-badge{
                        @include comp.badge-desktop();
                    }
                    h1.section-title{
                        font-size: var.$fs-desktop-hero-title;
                    }
                    p.section-paragraph{
                        font-size: var.$fs-desktop-hero-paragraph;
                    }
                }

                //Container dos botões da hero
                div.buttons-container{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    //Ambos os botões
                    a{
                        font-size: var.$fs-desktop-button;
                    }

                    //Botão 1
                    a.button-contact{
                        @include comp.button();
                        img{
                            width: 25px;
                        }
                    }

                    //Botão 2
                    a.button-portfolio{
                        transition: 0.3s ease;
                        img{
                            width: 25px;
                        }
                    }
                }

                //Container no final da hero - status
                div.stats-container{
                    align-items: center;
                    justify-content: start;
                    flex-direction: row;
                    gap: 20px;

                    //Estrelas da hero
                    div.stars-container{

                        img{
                            width: 22px;
                        }
                    }

                    //Mensagem abaixo das estrelas
                    p{
                        font-size: var.$fs-desktop-paragraph;
                    }
                }
            }
            img.computer{
                width: 100%;
            }
        }
    }
}