@use '../abstracts/variables' as var;
@use '../base/typography' as font;
@use '../components/badge' as badge;

section.portfolio {
    background: var.$c-section-background-2;
    padding:
        var.$pad-mobile-topbottom-section var.$pad-mobile-leftright-section var.$pad-mobile-topbottom-section var.$pad-mobile-leftright-section;
    min-height: 100vh;

    div.section-title-container {

        display: flex;
        flex-direction: column;
        gap: var.$gap-mobile-container;
        margin-bottom: 40px;

        p.section-badge {
            @include badge.badge-mobile();
        }

        h2.section-title {
            font-size: var.$fs-mobile-title;
            color: var.$c-title;
        }
    }

    div.carousel-container {
        border: 1px solid red;
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 300px;


        div.p-card {
            transition: 1s ease;

            img {
                width: 100%;
            }

            div.texts-container {
                h3 {}

                p {}
            }

            a {
                img {
                    width: 25px;
                }
            }
        }

        div.p-card.right {
            transform: translateX(165px);
        }

        div.p-card.hid-right {
            transform: translateX(100%);
            opacity: 0;
        }

        div.p-card.left {
            transform: translateX(-465px);
        }

        div.p-card.hid-left {
            transform: translateX(-100%);
            opacity: 0;
        }

        div.control-container {
            border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;

            img {
                width: 35px;
            }

            img.arrow-left {}

            img.arrow-right {
                &:active {
                    background-color: red;
                }
            }

            div.points-container {
                div.point {}
            }
        }
    }
}