@use '../abstracts/variables' as var;
@use '../base/typography' as font;
@use '../abstracts/mixins' as mix;

section.trust{
    background-color: var.$c-section-background-3;
    border-top: 2px solid var.$c-border;
    border-bottom: 2px solid var.$c-border;
	
    //Scroll driven animation
    @include mix.pgl-from-bottom-in(trust-animation, 1s, 300px);
    animation-timeline: view();
    animation-range: 0% 40%;

    padding: 
        var.$pad-mobile-topbottom-section - 50
        var.$pad-mobile-leftright-section
        var.$pad-mobile-topbottom-section - 50
        var.$pad-mobile-leftright-section;

    div.services-container{
        display: flex;
        flex-direction: column;
        gap: var.$gap-mobile-container;
        margin-bottom: 40px;

        p.title{
            color: var.$c-paragraph;
            font-size: var.$fs-mobile-paragraph;
            @include font.font-2();
            text-align: center;
        }
        div.niches{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            p.niche{
                border: 1px solid var.$c-border;
                padding: var.$pad-mobile-badge;
                border-radius: 10px;
                font-size: var.$fs-mobile-paragraph;
                font-weight: 400;
                transition: 0.2s ease;

                &:hover{
                    color: var.$c-section-background-3;
                    background-color: var.$c-text-highlight-2;
                }
            }
        }
    }

    div.numbers-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 20px;
        

        div.number{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 2px;
            p.n1{
                font-size: 40px;
                font-weight: 900;
                color: var.$c-text-highlight-2;
            }
            p.n2{
                @include font.font-2();
                font-size: var.$fs-mobile-paragraph;
                color: var.$c-paragraph;
                text-align: center;
                text-justify: center;
            }
        }
    }
}

@media (min-width: 1200px){
    section.trust{

        padding: 
            var.$pad-desktop-topbottom-section - 150
            var.$pad-desktop-leftright-section
            var.$pad-desktop-topbottom-section - 150
            var.$pad-desktop-leftright-section;

        div.services-container{
            gap: var.$gap-desktop-container+20;
            margin-bottom: 60px;

            p.title{
                font-size: var.$fs-desktop-paragraph;
            }
            div.niches{
                gap: 50px;
                p.niche{
                    font-size: var.$fs-desktop-paragraph;
                }
            }
        }

        div.numbers-container{
            grid-template-columns: repeat(4, 1fr);
            gap: 0px;
            
            div.number{
                gap: 2px;
                p.n1{
                    font-size: 50px;
                }
                p.n2{
                    font-size: var.$fs-desktop-paragraph;
                }
            }
        }
    }
}