@use 'sections/index' as *;
@use 'layout/index' as *;
@use 'base/index' as *;
@use './abstracts/variables' as var;
@use './components/index' as *;

html, * {
    scroll-behavior: smooth;
    scrollbar-width: thick;
    scrollbar-color: var.$c-text-highlight-2 black;
}

